.download-dropdown-container {
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 205px;
    height: 65px;
    width: 140px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #ccc;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
}

.download-link {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    color: black;
}

.download-link:hover {
    background-color: #f5f5f5
}

.download-dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}