.solution-dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.solution-dropdown-container {
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 300px;
    height: 180px;
    width: 300px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #ccc;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
}

.solution-link {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    color: black;
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
}

.solution-link:hover {
    background-color: #f5f5f5
}
