.dashboard-container {
    color: rgba(25, 23, 17, 0.6);
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    border-right: 1px solid #F0F0F0;
    width: 340px;
    height: 100vh;
    padding: 10px;
    background-color: #FBFBFA;
    position: relative;
    outline-color: rgba(25, 23, 17, 0.6);
    transition: border-color 0.3s;
    padding-left: 1%;
    flex-grow:1;
    box-sizing: border-box;
}
  

.dashboard-container:hover {
    border-right: 1px solid #D0D0D0;
}

.dashboard-content {
    display: flex;
    gap: 15px;
    flex-direction: column;
}


.workspace-user {
    padding-left: 6px;
    color: rgb(55, 53, 47);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.workspace-user:hover {
    background-color: #ECECEC
}
  
.workspace-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}
  
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.workspace-input {
    margin-right: 10px;
}

.workspace-create {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border-style: none;
    background-color: #FBFBFA;
}

.search {
    border-style: none;
    background-color: #FBFBFA;
    cursor: pointer;
    display: flex;
    gap: 10px;
    color: rgba(25, 23, 17, 0.7);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

.search:hover {
    background-color: #ECECEC;
}

.dashboard-3buttons {
    display: flex;
    gap: 5px;
    flex-direction: column;
}



.dashboard-bottom4 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: center;
}

.newpage-container {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #D0D0D0;
    height: 45px;
    max-width: 300px;
    width: 100%;
    display: flex;
    
}

.newpage-button {
    color: rgba(25, 23, 17, 0.6);
    font-size: 15px;
    background-color: #FBFBFA;
    border-style: none;
    font-weight: 500;
    line-height: 21px;
    padding-left: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    cursor: pointer;
}

.newpage-container:hover {
    background-color: #ECECEC
}

.newpage-button:hover {
    background-color: #ECECEC
}

.workspaces-dropdown-container {
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 10px;
    height: 400px;
    width: 260px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #ccc;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.workspaces-dropdown-menu {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgba(25, 23, 17, 0.8);
    
}

.workspaces-dropdown-menu:hover {
    background-color: #ECECEC
}

.pages-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgba(25, 23, 17, 0.7);
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.page-element {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: none;
    color: rgba(25, 23, 17, 0.8)
}

.page-element:hover {
    background-color: #ECECEC
}

.add-page {
    cursor: pointer;
}

.add-page:hover {
    background-color: #ECECEC
}


.hidden {
    display: none;
}

.create-work {
    border-top: solid 1px #c0c0c0;
    padding-top: 10px;
    color: rgba(25, 23, 17, 0.8);
}

.create-work:hover {
    background-color: #ECECEC
}

.workspace-logout {
    color: rgba(25, 23, 17, 0.8);
}

.workspace-logout:hover {
    background-color: #ECECEC
}

.workspace-names {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.page-container {
    flex-grow: 1;
    overflow: auto;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
    width: calc(100% - 300px); /* Replace 300px with the width of your dashboard-container */
    float: right; 
    padding-right: 1%;
    padding-bottom: 15px;
}

.header-container {
    display: flex;
    align-items: center;
    align-content: center;
}
  
.header-container > h1 {
    margin-left: 10px;
}

.header {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}